# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Data files (optional)
data/*.csv

# Large files
*.pdf
*.zip
*.tar
*.gz

# Research papers folder (IMPORTANT)
research_papers/
papers/
docs/

# Logs
*.log

# IDE
.vscode/
.idea/

# Maven target
target/

.venv/
cloudsim-project/.venv/